.sss {

}

.ssslide {

}

.ssslide img {

}

.sssnext, .sssprev {
	width: 25px;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	background: url('images/arr.png') no-repeat;
}

.sssprev {

}

.sssnext {

}

.sssprev:hover, .sssnext:hover {
	cursor: pointer;
}